{% extends 'parent/base.html' %}
{% load static %}
{% load humanize %}
{% block title %} products {% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<main>
    <h1>محصولات</h1>
    <div class="categories">
        <a class="category-btn active" 
           data-category="all" 
           href="{% url 'shop:products' %}">همه</a>

        {% for cat in categories %}
            <a class="category-btn" 
               href="{% url 'shop:products_by_category' cat.slug %}">
                {{ cat.name }}
            </a>
        {% endfor %}
    </div>

  <div class="products-grid">
    {% for product in products %}
    <!-- نمونه محصول زنانه -->
    <div class="product-card" data-category="{{ product.category }}">
      <div class="product-img-container">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-img">
      </div>

      <div class="product-info">
        <a href="{% url 'shop:product' product.id product.slug %}"><h3 class="product-title">{{ product.name }}</h3></a>
        <div class="product-price">{{ product.price }} تومان</div>
        <button class="add-to-cart">افزودن به سبد</button>
      </div>
    </div>
    {%endfor%}

  </div>
</main>

{% endblock %}