{% extends 'parent/base.html' %}
{% load static %}
{% load humanize %}
{% block title %} {{ product.name }} {% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<section class="product-section">
  <div class="product-container">

    <div class="product-image">
      <img src="{{ product.images.first.image_file.url }}" alt="{{ product.name }}">
    </div>

    <div class="product-info">
      <div>
        <h2>گردنبند طلای ۱۸ عیار طرح کلاسیک</h2>
        <p>
          گردنبند طلای ۱۸ عیار با طراحی لوکس و ظریف، مناسب استفاده روزمره و مجالس رسمی.
          ساخته شده با بالاترین کیفیت ساخت و درخشندگی ماندگار.
        </p>
        <div class="price">{{product.new_price}}</div>
      </div>

      <button class="buy-btn" data-csrf="{{csrf_token}}">افزودن به سبد خرید</button>

      <button class="like-btn">
        {% if request.user in product.liked_by.all %}
            ♡
        {% else %}
            ❤️
        {% endif %}
      </button>
    </div>

  </div>
</section>

<script>
    let likeBtn = document.querySelector('.like-btn');
    likeBtn.addEventListener('click', function(){
        fetch('{% url "shop:like_view" product.id %}', {
            method: 'POST',
            headers: {"X-CSRFToken": '{{ csrf_token }}', "Content-Type": "application/json"},
        }).then(data => {return data.json()})
        .then(function(data){
            if (data.liked){
                likeBtn.innerHTML = '♡'
            } else {
                likeBtn.innerHTML = '❤️'
            }
        })
    })

    let totalItems = document.getElementById('total-itmes');
    let buyBtn = document.querySelector('.buy-btn');
    buyBtn.addEventListener('click', function(){
      fetch('{% url "cart:add_to_cart" product.id %}', {
        method: 'POST',
        headers: {"X-CSRFToken": buyBtn.getAttribute('data-csrf'), "Content-Type": "application/json"},
      })
      .then(data => {return data.json()})
      .then(res => {totalItems.innerHTML = res.total_items})
    })
</script>

{% endblock %}